.block-our-blog-statistic { 
  max-width: 1920px;
  height: 550px;
  margin: 0 auto;
  background: url(../image/PutYourImage.jpg) no-repeat;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  flex-wrap: wrap;
  padding: 0 30px;
}

.block-our-blog-statistic__first { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  // padding-right: 130px;
}

.statistic-icon { 
  width: 111px;
  height: 111px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 50px;
}

.statistic__number { 
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1.5px;
  color: #f4f5f9;
  padding: 0;
  margin: 0;
}

.statistic__name { 
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.9px;
  text-align: center;
  color: #f4f5f9;
  padding: 0;
  margin: 0;
}

.block-our-blog-statistic__second { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  // padding-right: 130px;
}

.block-our-blog-statistic__three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center; 
  // padding-right: 130px;
}

.block-our-blog-statistic__four { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  // padding-right: 130px;
}

.block-our-blog-statistic__five { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

@media screen and (max-width: 950px) {
  .block-our-blog-statistic { 
    max-width: 1920px;
    height: 550px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
    padding: 30px 30px;
  }
}

@media screen and (max-width:550px) {
  .block-our-blog-statistic { 
    max-width: 1920px;
    height: 1500px;
    margin: 0 auto;
    background: none;
    background-color: black;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    flex-wrap: nowrap;
    padding: 50px 30px;
  }
}