* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.down-icon {
  width: 50px;
  height: 50px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: -40px;
  z-index: 1;
}

.block-our-blog {
  max-width: 1950px;
  height: 100%;
  margin: 0 auto;
  background-color: white;
}

.block-our-blog__title {
  text-shadow: 0px 1px 0 white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 0.56;
  text-align: center;
  color: #6a6a6a;
  padding-top: 50px;
}

.block-our-blog__subtitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #999999;
  padding-top: 50px;
}

.block-our-blog__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block-our-blog__first {
  position: relative;
  top: 0;
}

.block-our-blog__second {
  max-width: 420px;
  max-height: 420px;
  background-color: #e74e3e;
  padding: 50px 40px 70px 40px;
}

.block-our-blog__three {
  position: relative;
  top: 0;
}

.block-our-blog__four {
  max-width: 420px;
  max-height: 420px;
  background-color: #e74e3e;
  padding: 50px 40px 70px 40px;
}

.block-our-blog__five {
  max-width: 420px;
  max-height: 420px;
  background-color: #e74e3e;
  padding: 50px 40px 70px 40px;
  margin-top: -3px;
}

.block-our-blog__six {
  position: relative;
  top: 0;
  margin-top: -3px;
}

.block-our-blog__seven {
  max-width: 420px;
  max-height: 420px;
  background-color: #e74e3e;
  padding: 50px 40px 70px 40px;
  margin-top: -3px;
}

.block-our-blog__eight {
  position: relative;
  top: 0;
  margin-top: -3px;
}

.img-big {
  max-width: 420px;
  max-height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
}

.block-our-blog-block__name {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 0.7px;
  text-align: left;
  color: white;
  padding-bottom: 15px;
}

.block-our-blog-block__title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-align: left;
  color: white;
  padding-bottom: 15px;
}

.block-our-blog-block__line {
  width: 44px;
  height: 4px;
  background-color: white;
  margin-bottom: 25px;
}

.block-our-blog-block__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
  color: white;
  padding-bottom: 30px;
}

.block-our-blog-block__btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  line-height: 1.33;
  text-align: left;
  color: white;
}

.fa-angle-double-right {
  color: white;
}

.img-smoll {
  position: absolute;
  top: 185px;
  left: -1px;
}

.img-smoll-left {
  position: absolute;
  top: 200px;
  left: 392px;
}

@media screen and (max-width: 1919px) {
  .block-our-blog__conteiner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    max-width: 1000px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .block-our-blog__first {
    position: static;
  }
  .img-big {
    width: 300px;
    margin: auto;
  }
  .block-our-blog__second {
    width: 300px;
    height: 300px;
    background-color: #e74e3e;
    padding: 10px;
    font-size: 14px;
  }
  .block-our-blog__three {
    position: static;
  }
  .block-our-blog__four {
    width: 300px;
    height: 300px;
    padding: 10px;
    font-size: 14px;
  }
  .block-our-blog__five {
    width: 300px;
    height: 300px;
    padding: 10px;
    font-size: 14px;
  }
  .block-our-blog__six {
    position: static;
  }
  .block-our-blog__seven {
    width: 300px;
    height: 300px;
    padding: 10px;
    font-size: 14px;
  }
  .block-our-blog__eight {
    position: static;
  }
  .block-our-blog-block__name {
    font-size: 14px;
    padding-bottom: 10px;
  }
  .block-our-blog-block__title {
    font-size: 16px;
    padding-bottom: 10px;
  }
  .block-our-blog-block__line {
    margin-bottom: 10px;
  }
  .block-our-blog-block__text {
    font-size: 14px;
    padding-bottom: 10px;
  }
  .block-our-blog-block__btn {
    font-size: 14px;
  }
  .img-smoll {
    display: none;
    position: absolute;
    top: 205px;
    left: -1px;
  }
  .img-smoll-left {
    display: none;
    position: absolute;
    top: 205px;
    left: 453px;
  }
}

.conteiner {
  width: 100%;
  height: 100%;
}

.header {
  max-width: 1920px;
  height: 990px;
  margin: 0 auto;
  background: url(../image/ForegroundFoto.jpg) no-repeat center center;
}

.opasity {
  opacity: 0.7;
  background-color: rgba(0, 0, 0, 0.822);
  max-width: 1920px;
  height: 100%;
}

.header__head-conteiner {
  width: 100%;
  height: 80px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: -10px;
  position: fixed;
  z-index: 999999;
}

.header__main {
  padding-left: 300px;
  z-index: 999999;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__item {
  padding-right: 50px;
}

.header__item:last-child {
  padding-right: 0;
}

.header__item-link {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #f4f5f9;
  font-weight: bold;
  padding-bottom: 20px;
}

.header__item-link:hover {
  color: #e74c3c;
  border-bottom: 1px solid #e74c3c;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.active {
  color: #e74c3c;
  padding-bottom: 20px;
  border-bottom: 1px solid #e74c3c;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.slick-slider {
  min-width: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-slide {
  width: 100%;
  margin: auto;
  position: relative;
  padding-top: 256px;
}

.main-slide .slick-slider {
  min-width: 0;
}

.main-slide .slick-list {
  overflow: hidden;
}

.main-slide .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-slide .slick-arrow {
  position: absolute;
  top: 70%;
  z-index: 10;
  margin: 0 30px;
}

.main-slide .slick-arrow.slick-prev {
  width: 45px;
  height: 45px;
  padding: 15px;
  left: 0;
  font-size: 0;
  background-color: #f4f5f9;
  fill: #303030;
}

.main-slide .slick-arrow.slick-prev:hover {
  width: 45px;
  height: 45px;
  border-radius: 2px;
  background-color: #e74c3c;
  fill: #ffffff;
}

.main-slide .slick-arrow.slick-next {
  width: 45px;
  height: 45px;
  padding: 15px;
  right: 0;
  font-size: 0;
  background-color: #f4f5f9;
  fill: #303030;
}

.main-slide .slick-arrow.slick-next:hover {
  width: 45px;
  height: 45px;
  border-radius: 2px;
  background-color: #e74c3c;
  fill: #ffffff;
}

.main-slide__sub-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  letter-spacing: 1.2px;
  text-align: center;
  color: #f4f5f9;
  padding-bottom: 45px;
}

.main-slide__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 72px;
  font-weight: bold;
  letter-spacing: 7.2px;
  text-align: center;
  color: #f4f5f9;
}

.main-slide__linefirst {
  width: 80px;
  position: relative;
  left: 850px;
}

.main-slide__linesecond {
  width: 80px;
  position: relative;
  left: 950px;
  top: -2px;
}

.conteiner-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0;
}

.main-slide__img-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-align: center;
  color: #cbc6c0;
}

.btn-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 70px;
}

.btn-get {
  width: 225px;
  height: 52px;
  border: solid 1px white;
  background-color: rgba(255, 255, 255, 0);
  margin-right: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 2.89;
  letter-spacing: -0.28px;
  color: white;
}

.btn-more {
  width: 225px;
  height: 52px;
  border: solid 1px white;
  background-color: rgba(255, 255, 255, 0);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 2.89;
  letter-spacing: -0.28px;
  color: white;
}

.btn-get:hover {
  -webkit-box-shadow: 0px 2px 4.8px 0.3px black;
          box-shadow: 0px 2px 4.8px 0.3px black;
  background-color: #e74c3c;
  z-index: 1;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  border: none;
}

.btn-more:hover {
  -webkit-box-shadow: 0px 2px 4.8px 0.3px black;
          box-shadow: 0px 2px 4.8px 0.3px black;
  background-color: #e74c3c;
  z-index: 1;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  border: none;
}

@media screen and (max-width: 1200px) {
  .header__head-conteiner {
    height: 180px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__main {
    padding-left: 0px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 1020px) {
  .header__head-conteiner {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.548);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__logo {
    position: relative;
    top: 33%;
    left: 0%;
  }
  .burger__line {
    width: 30px;
    height: 3px;
    background: #fbff00;
    margin: 5px;
    -webkit-box-shadow: 1px 1px 1px #000;
            box-shadow: 1px 1px 1px #000;
  }
  .header__main {
    position: relative;
    left: 23%;
    padding-left: 34px;
  }
  .burger {
    position: absolute;
    cursor: pointer;
    top: 10%;
    left: 50%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
    z-index: 999999;
  }
  .header__list {
    width: 100%;
    height: 100%;
  }
  .header__list.open {
    position: absolute;
    top: 200px;
    left: -125%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }
  .header__item-link {
    font-size: 24px;
    margin-bottom: 5%;
    opacity: 0;
    color: #00b7ff;
  }
  .header__item-link:hover {
    margin-bottom: 5%;
    border-bottom: none;
    color: chartreuse;
  }
  .active {
    margin-bottom: 5%;
    color: chartreuse;
    border-bottom: none;
  }
  .header__item-link.fade {
    opacity: 1;
  }
  .header__item:last-child {
    padding-right: 50px;
  }
}

@media screen and (max-width: 700px) {
  .main-slide__sub-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    letter-spacing: 1.2px;
    text-align: center;
    color: #f4f5f9;
    padding-bottom: 45px;
  }
  .main-slide__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 7.2px;
    text-align: center;
    color: #f4f5f9;
  }
  .main-slide__linefirst {
    width: 80px;
    position: relative;
    left: 850px;
  }
  .main-slide__linesecond {
    width: 80px;
    position: relative;
    left: 950px;
    top: -2px;
  }
  .conteiner-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 0;
  }
  .main-slide__img-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #cbc6c0;
  }
  .btn-conteiner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 70px;
  }
  .btn-get {
    width: 225px;
    height: 52px;
    margin: auto;
    margin-bottom: 5%;
  }
  .btn-more {
    width: 225px;
    height: 52px;
    margin: auto;
  }
  .main-slide .slick-arrow.slick-prev {
    display: none;
    width: 45px;
    height: 45px;
    padding: 15px;
    left: 0;
    font-size: 0;
    background-color: #f4f5f9;
    fill: #303030;
  }
  .main-slide .slick-arrow.slick-next {
    display: none;
    width: 45px;
    height: 45px;
    padding: 15px;
    right: 0;
    font-size: 0;
    background-color: #f4f5f9;
    fill: #303030;
  }
}

.block-our-blog-statistic {
  max-width: 1920px;
  height: 550px;
  margin: 0 auto;
  background: url(../image/PutYourImage.jpg) no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 30px;
}

.block-our-blog-statistic__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.statistic-icon {
  width: 111px;
  height: 111px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 50px;
}

.statistic__number {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1.5px;
  color: #f4f5f9;
  padding: 0;
  margin: 0;
}

.statistic__name {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.9px;
  text-align: center;
  color: #f4f5f9;
  padding: 0;
  margin: 0;
}

.block-our-blog-statistic__second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.block-our-blog-statistic__three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.block-our-blog-statistic__four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.block-our-blog-statistic__five {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

@media screen and (max-width: 950px) {
  .block-our-blog-statistic {
    max-width: 1920px;
    height: 550px;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 30px 30px;
  }
}

@media screen and (max-width: 550px) {
  .block-our-blog-statistic {
    max-width: 1920px;
    height: 1500px;
    margin: 0 auto;
    background: none;
    background-color: black;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 50px 30px;
  }
}

.block-pricing {
  max-width: 1920px;
  height: 1070px;
  margin: 0 auto;
  background-color: white;
}

.block-pricing__title {
  text-shadow: 0px 1px 0 white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 0.56;
  text-align: center;
  color: #6a6a6a;
  padding-top: 150px;
}

.block-pricing__conteiner-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0 150px 0;
}

.block-pricing-price__conteiner-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-pricing-price__conteiner-first {
  max-width: 380px;
  max-height: 609px;
  margin-right: 15px;
  padding-bottom: 150px;
  background-color: #f4f5f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.block-pricing-price__conteiner-two {
  max-width: 380px;
  max-height: 609px;
  margin-right: 15px;
  padding-bottom: 150px;
  background-color: #f4f5f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.block-pricing-price__conteiner-three {
  max-width: 380px;
  max-height: 609px;
  padding-bottom: 150px;
  background-color: #f4f5f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.block-pricing-price__conteiner-second {
  max-width: 380px;
  max-height: 205px;
  background-color: #999999;
}

.block-pricing-price__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.8px;
  color: white;
  text-align: center;
  padding: 50px 124px 136px 128px;
}

.block-pricing-price__conteiner-price {
  width: 154px;
  height: 153px;
  margin: auto;
  margin-top: -20%;
  padding: 10px;
  background-color: white;
  border-radius: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-pricing-price__sell {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 39.5px;
  font-weight: bold;
  text-align: center;
  color: #999999;
}

.block-pricing-price__subtitle {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  line-height: 1.69;
  text-align: center;
  color: #999999;
}

.block-pricing-price__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 150px;
  padding-bottom: 50px;
}

.block-pricing-price__item {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 2.86;
  text-align: center;
  color: #999999;
}

.block-pricing-price__btn {
  width: 145px;
  height: 46px;
  margin: 20px auto;
  padding: 13px 15px 25px  15px;
  border: none;
  -webkit-box-shadow: 0px 2px 4.8px 0.3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4.8px 0.3px rgba(0, 0, 0, 0.25);
  background-color: #999999;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.12px;
  text-align: center;
  color: white;
}

.block-pricing-price__conteiner-first:hover .hover {
  background-color: #e74c3c;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.block-pricing-price__conteiner-first:hover .hoverl {
  color: #e74c3c;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.block-pricing-price__conteiner-two:hover .hover {
  background-color: #e74c3c;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.block-pricing-price__conteiner-two:hover .hoverl {
  color: #e74c3c;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.block-pricing-price__conteiner-three:hover .hover {
  background-color: #e74c3c;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.block-pricing-price__conteiner-three:hover .hoverl {
  color: #e74c3c;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

@media screen and (max-width: 1180px) {
  .block-pricing {
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
    background-color: white;
  }
  .block-our-blog__subtitle {
    padding: 50px 50px 0 50px;
  }
  .block-pricing-price__conteiner-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 0 10px;
  }
  .block-pricing-price__conteiner-first {
    max-width: 380px;
    max-height: 609px;
    margin-bottom: 30%;
    margin-left: 20px;
    padding-bottom: 150px;
    background-color: #f4f5f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .block-pricing-price__conteiner-two {
    max-width: 380px;
    max-height: 609px;
    margin-bottom: 30%;
    margin-left: 20px;
    padding-bottom: 150px;
    background-color: #f4f5f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .block-pricing-price__conteiner-three {
    max-width: 380px;
    max-height: 609px;
    padding-bottom: 150px;
    background-color: #f4f5f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-bottom: 15%;
  }
}

@media screen and (max-width: 390px) {
  .block-pricing-price__conteiner-first {
    width: 100%;
    max-height: 609px;
    margin-bottom: 30%;
    margin-left: 20px;
    padding-bottom: 150px;
    background-color: #f4f5f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .block-pricing-price__conteiner-two {
    width: 100%;
    max-height: 609px;
    margin-bottom: 30%;
    margin-left: 20px;
    padding-bottom: 150px;
    background-color: #f4f5f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .block-pricing-price__conteiner-three {
    width: 100%;
    max-height: 609px;
    padding-bottom: 150px;
    background-color: #f4f5f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-bottom: 15%;
  }
}

.block-team {
  max-width: 1920px;
  height: 744px;
  margin: 0 auto;
  background: url(../image/Background4.jpg) no-repeat center center;
  margin-top: -30px;
}

.block-team__conteiner {
  max-width: 1920px;
  height: 90%;
  background-image: url(../image/Curve.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -300px;
}

.block-team__title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 3.6px;
  text-align: center;
  color: #f4f5f9;
  padding-top: 120px;
  padding-bottom: 25px;
}

.block-team__sub-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 2.07;
  text-align: center;
  color: #f4f5f9;
  padding-bottom: 5px;
}

.block-team__conteiner-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0 100px 0;
}

.block-team__first {
  width: 167px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 280px;
  margin-right: 50px;
  margin-left: 80px;
}

.block-team__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid #e74c3c;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.block-team__name {
  display: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.8px;
  text-align: center;
  color: #e74c3c;
  position: relative;
  top: 30px;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.block-team__name-first {
  display: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.8px;
  text-align: center;
  color: #e74c3c;
  padding-top: 60px;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.block-team__position {
  display: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 1.4px;
  text-align: center;
  color: white;
  padding-top: 10px;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.block-team__second {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 255px;
  margin-right: 70px;
}

.block-team__three {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 260px;
  margin-right: 130px;
}

.block-team__four {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 300px;
  margin-left: -10px;
}

.block-team__five {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 270px;
  margin-left: 100px;
}

.block-team__first:hover .hover-img {
  -webkit-transform: scale(2);
          transform: scale(2);
  margin-top: 130px;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.block-team__first:hover .hover-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.block-team__first:hover .hover-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.block-team__second:hover .hover-img {
  -webkit-transform: scale(2);
          transform: scale(2);
  margin-top: 130px;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.block-team__second:hover .hover-name {
  display: block;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.block-team__second:hover .hover-position {
  display: block;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.block-team__three:hover .hover-img {
  -webkit-transform: scale(2);
          transform: scale(2);
  margin-top: 130px;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.block-team__three:hover .hover-name {
  display: block;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.block-team__three:hover .hover-position {
  display: block;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.block-team__four:hover .hover-img {
  -webkit-transform: scale(2);
          transform: scale(2);
  margin-top: 130px;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.block-team__four:hover .hover-name {
  display: block;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.block-team__four:hover .hover-position {
  display: block;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.block-team__five:hover .hover-img {
  -webkit-transform: scale(2);
          transform: scale(2);
  margin-top: 130px;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.block-team__five:hover .hover-name {
  display: block;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.block-team__five:hover .hover-position {
  display: block;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

@media screen and (max-width: 1180px) {
  .block-team__first {
    width: 167px;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 270px;
    margin-right: 50px;
    margin-left: 80px;
  }
  .block-team__second {
    width: 150px;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 255px;
    margin-right: 70px;
  }
  .block-team__three {
    width: 150px;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 260px;
    margin-right: 130px;
  }
  .block-team__four {
    width: 150px;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 300px;
    margin-left: -10px;
  }
  .block-team__five {
    width: 150px;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 290px;
    margin-left: 100px;
  }
}

@media screen and (max-width: 770px) {
  .block-team__conteiner {
    background-image: url(../image/Curve.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -300px;
    padding: 0 30px 50px 30px;
  }
  .block-team__first {
    width: 167px;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 260px;
    margin-right: 50px;
    margin-left: 80px;
  }
  .block-team__second {
    width: 150px;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 255px;
    margin-right: 70px;
  }
  .block-team__three {
    width: 150px;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 260px;
    margin-right: 110px;
  }
  .block-team__four {
    width: 150px;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 290px;
    margin-left: -30px;
  }
  .block-team__five {
    width: 150px;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 300px;
    margin-left: 50px;
  }
  .block-team__first:hover .hover-img {
    -webkit-transform: scale(1);
            transform: scale(1);
    margin-top: 0px;
  }
  .block-team__second:hover .hover-img {
    -webkit-transform: scale(1);
            transform: scale(1);
    margin-top: 0px;
  }
  .block-team__three:hover .hover-img {
    -webkit-transform: scale(1);
            transform: scale(1);
    margin-top: 0px;
  }
  .block-team__four:hover .hover-img {
    -webkit-transform: scale(1);
            transform: scale(1);
    margin-top: 0px;
  }
  .block-team__five:hover .hover-img {
    -webkit-transform: scale(1);
            transform: scale(1);
    margin-top: 0px;
  }
}

@media screen and (max-width: 490px) {
  .block-team__conteiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-top: 160px;
  }
  .block-team__first {
    width: 320px;
    height: 150px;
    margin-top: 130px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .block-team__second {
    width: 320px;
    height: 150px;
    margin-top: 20px;
    margin-right: 0px;
  }
  .block-team__three {
    width: 320px;
    height: 150px;
    margin-top: 20px;
    margin-right: 0px;
  }
  .block-team__four {
    width: 320px;
    height: 150px;
    margin-top: 20px;
    margin-left: 0px;
  }
  .block-team__five {
    width: 320px;
    height: 150px;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .block-team__name-first {
    display: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.8px;
    text-align: center;
    color: #e74c3c;
    padding-top: 0px;
    padding-right: 150px;
  }
  .block-team__position {
    display: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 1.4px;
    text-align: center;
    color: white;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    margin-top: -35px;
    padding-left: 150px;
  }
}

.block-contact {
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  background-color: #f4f5f9;
  padding: 150px 30px 50px 30px;
}

.block-contact__title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 0.56;
  text-align: center;
  color: #6a6a6a;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.block-contact__sub-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #999999;
  padding-bottom: 30px;
}

.block-contact__conteiner-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 70px 0;
}

.block-contact__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-contact-info {
  width: 478px;
  height: 650px;
  padding: 50px 50px 100px 75px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
}

.block-contact-info__conteiner--second {
  margin-top: -30px;
}

.block-contact-info__conteiner--three {
  margin-top: -20px;
}

.block-contact-info__title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-align: left;
  color: #e74e3e;
  padding-top: 100px;
}

.block-contact-info__address {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.33;
  text-align: left;
  color: #999999;
  padding-top: 25px;
}

.block-contact-info__phone {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.33;
  text-align: left;
  color: #999999;
  padding-top: 25px;
}

.block-contact-info__phone-two {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.33;
  text-align: left;
  color: #999999;
}

.block-contact-info__email {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.33;
  text-align: left;
  color: #999999;
  padding-top: 25px;
}

.block-contact-form {
  max-width: 665px;
  height: 650px;
  padding: 50px 50px 100px 50px;
  margin-left: 50px;
  border-radius: 2.8px;
  -webkit-box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-contact-form__name {
  width: 464px;
  height: 100%;
  border: none;
  border-bottom: solid 0.5px #999999;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.71;
  text-align: left;
  color: #999999;
  margin: 30px 50px;
  padding: 0 0 15px 0;
}

.block-contact-form__email {
  width: 464px;
  height: 100%;
  margin: 30px 50px;
  border: none;
  border-bottom: solid 0.5px #999999;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.71;
  text-align: left;
  color: #999999;
  padding: 0 0 15px 0;
}

.block-contact-form__subject {
  width: 464px;
  height: 100%;
  margin: 30px 50px;
  border: none;
  border-bottom: solid 0.5px #999999;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.71;
  text-align: left;
  color: #999999;
  padding: 0 0 15px 0;
}

.block-contact-form__message {
  width: 464px;
  height: 100%;
  margin: 30px 50px;
  border: none;
  border-bottom: solid 0.5px #999999;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.71;
  text-align: left;
  color: #999999;
  padding: 0 0 100px 0;
}

.block-contact-form__btn {
  width: 157px;
  height: 44px;
  margin: 0 50px;
  border: none;
  border-radius: 2.4px;
  -webkit-box-shadow: 0px 2px 4.8px 0.3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4.8px 0.3px rgba(0, 0, 0, 0.25);
  background-color: #8d8d8d;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 2.86;
  text-align: center;
  color: white;
}

.block-contact-form__btn:hover {
  background-color: #e74e3e;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  cursor: pointer;
}

@media screen and (max-width: 1165px) {
  .block-contact__conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .block-contact-info {
    width: 478px;
    height: 650px;
    margin: auto;
    margin-bottom: 30px;
    padding: 50px 50px 100px 75px;
  }
  .block-contact-form {
    max-width: 665px;
    height: 650px;
    margin: 0 auto;
    padding: 50px 50px 100px 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 720px) {
  .block-contact__conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .block-contact-info {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 10px 10px 50px 10px;
  }
  .block-contact-info__title {
    padding-top: 50px;
  }
  .block-contact-form {
    width: 90%;
    height: 100%;
    padding: 50px 0px 50px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block-contact-form__name {
    width: 80%;
    height: 100%;
    margin: 30px 10px;
    padding: 0 0 15px 0;
  }
  .block-contact-form__email {
    width: 80%;
    height: 100%;
    margin: 30px 10px;
    padding: 0 0 15px 0;
  }
  .block-contact-form__subject {
    width: 80%;
    height: 100%;
    margin: 30px 10px;
    padding: 0 0 15px 0;
  }
  .block-contact-form__message {
    width: 80%;
    height: 100%;
    margin: 30px 10px;
  }
  .block-contact-form__btn {
    width: 157px;
    height: 44px;
    margin: 0 auto;
  }
}

.footer {
  max-width: 1921px;
  height: 90px;
  margin: 0 auto;
  background-color: #202020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow-up {
  position: relative;
}

.fa-chevron-up {
  color: white;
  background-color: #8d8c8c;
  padding: 20px;
  border-radius: 50px;
  position: absolute;
  top: -70px;
  left: 1300px;
}

.fa-chevron-up:hover {
  background-color: #e74c3c;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer__item {
  padding-right: 25px;
}

.footer__item:last-child {
  padding-right: 650px;
}

.cls-1:hover {
  fill: #e74c3c;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.footer__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.71;
  color: rgba(153, 153, 153, 0.75);
}

@media screen and (max-width: 1570px) {
  .fa-chevron-up {
    color: white;
    background-color: #8d8c8c;
    padding: 20px;
    border-radius: 50px;
    position: absolute;
    top: -70px;
    left: 700px;
  }
}

@media screen and (max-width: 1210px) {
  .footer {
    max-width: 1921px;
    height: 90px;
    margin: 0 auto;
    background-color: #202020;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fa-chevron-up {
    color: white;
    background-color: #8d8c8c;
    padding: 20px;
    border-radius: 50px;
    position: absolute;
    top: -45px;
    left: 250px;
  }
  .footer__list {
    padding-bottom: 10px;
  }
  .footer__item {
    padding-right: 25px;
  }
  .footer__item:last-child {
    padding-right: 0px;
  }
}

@media screen and (max-width: 760px) {
  .fa-chevron-up {
    color: white;
    background-color: #8d8c8c;
    padding: 10px;
    border-radius: 50px;
    position: absolute;
    top: -40px;
    left: 50px;
  }
  .footer__item {
    padding-right: 20px;
  }
}
/*# sourceMappingURL=style.css.map */