*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

@import "./our-blog";
@import "./header";
@import "./statistic";