.block-team {
  max-width: 1920px;
  height: 744px;
  margin: 0 auto;
  background: url(../image/Background4.jpg) no-repeat center center;
  margin-top: -30px;
}

.block-team__conteiner {
  max-width: 1920px;
  height: 90%;
  background-image: url(../image/Curve.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -300px;
}

.block-team__title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 3.6px;
  text-align: center;
  color: #f4f5f9;
  padding-top: 120px;
  padding-bottom: 25px;
}

.block-team__sub-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 2.07;
  text-align: center;
  color: #f4f5f9;
  padding-bottom: 5px;
}

.block-team__conteiner-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0 100px 0;
}

.block-team__first {
  width: 167px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 280px;
  margin-right: 50px;
  margin-left: 80px;
}

.block-team__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid #e74c3c;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.block-team__name {
  display: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.8px;
  text-align: center;
  color: #e74c3c;
  position: relative;
  top: 30px;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.block-team__name-first {
  display: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.8px;
  text-align: center;
  color: #e74c3c;
  padding-top: 60px;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.block-team__position {
  display: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 1.4px;
  text-align: center;
  color: white;
  padding-top: 10px;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.block-team__second {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 255px;
  margin-right: 70px;
}

.block-team__three {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 260px;
  margin-right: 130px;
}

.block-team__four {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 300px;
  margin-left: -10px;
}

.block-team__five {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 270px;
  margin-left: 100px;
}

.block-team__first:hover .hover-img {
  -webkit-transform: scale(2);
          transform: scale(2);
  margin-top: 130px;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.block-team__first:hover .hover-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.block-team__first:hover .hover-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.block-team__second:hover .hover-img {
  -webkit-transform: scale(2);
          transform: scale(2);
  margin-top: 130px;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.block-team__second:hover .hover-name {
  display: block;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.block-team__second:hover .hover-position {
  display: block;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.block-team__three:hover .hover-img {
  -webkit-transform: scale(2);
          transform: scale(2);
  margin-top: 130px;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.block-team__three:hover .hover-name {
  display: block;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.block-team__three:hover .hover-position {
  display: block;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.block-team__four:hover .hover-img {
  -webkit-transform: scale(2);
          transform: scale(2);
  margin-top: 130px;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.block-team__four:hover .hover-name {
  display: block;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.block-team__four:hover .hover-position {
  display: block;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.block-team__five:hover .hover-img {
  -webkit-transform: scale(2);
          transform: scale(2);
  margin-top: 130px;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.block-team__five:hover .hover-name {
  display: block;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.block-team__five:hover .hover-position {
  display: block;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

@media screen and (max-width: 1180px) {
  .block-team__first {
    width: 167px;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 270px;
    margin-right: 50px;
    margin-left: 80px;
  }
  .block-team__second {
    width: 150px;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 255px;
    margin-right: 70px;
  }
  .block-team__three {
    width: 150px;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 260px;
    margin-right: 130px;
  }
  .block-team__four {
    width: 150px;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 300px;
    margin-left: -10px;
  }
  .block-team__five {
    width: 150px;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 290px;
    margin-left: 100px;
  }
}

@media screen and (max-width: 770px) {
  .block-team__conteiner {
    background-image: url(../image/Curve.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -300px;
    padding: 0 30px 50px 30px;
  }
  .block-team__first {
    width: 167px;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 260px;
    margin-right: 50px;
    margin-left: 80px;
  }
  .block-team__second {
    width: 150px;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 255px;
    margin-right: 70px;
  }
  .block-team__three {
    width: 150px;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 260px;
    margin-right: 110px;
  }
  .block-team__four {
    width: 150px;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 290px;
    margin-left: -30px;
  }
  .block-team__five {
    width: 150px;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 300px;
    margin-left: 50px;
  }
  .block-team__first:hover .hover-img {
    -webkit-transform: scale(1);
            transform: scale(1);
    margin-top: 0px;
  }
  .block-team__second:hover .hover-img {
    -webkit-transform: scale(1);
            transform: scale(1);
    margin-top: 0px;
  }
  .block-team__three:hover .hover-img {
    -webkit-transform: scale(1);
            transform: scale(1);
    margin-top: 0px;
  }
  .block-team__four:hover .hover-img {
    -webkit-transform: scale(1);
            transform: scale(1);
    margin-top: 0px;
  }
  .block-team__five:hover .hover-img {
    -webkit-transform: scale(1);
            transform: scale(1);
    margin-top: 0px;
  }
}

@media screen and (max-width: 490px) {
  .block-team__conteiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-top: 160px;
  }
  .block-team__first {
    width: 320px;
    height: 150px;
    margin-top: 130px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .block-team__second {
    width: 320px;
    height: 150px;
    margin-top: 20px;
    margin-right: 0px;
  }
  .block-team__three {
    width: 320px;
    height: 150px;
    margin-top: 20px;
    margin-right: 0px;
  }
  .block-team__four {
    width: 320px;
    height: 150px;
    margin-top: 20px;
    margin-left: 0px;
  }
  .block-team__five {
    width: 320px;
    height: 150px;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .block-team__name-first {
    display: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.8px;
    text-align: center;
    color: #e74c3c;
    padding-top: 0px;
    padding-right: 150px;
  }
  .block-team__position {
    display: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 1.4px;
    text-align: center;
    color: white;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    margin-top: -35px;
    padding-left: 150px;
  }
}
/*# sourceMappingURL=team.css.map */