.block-team { 
  max-width: 1920px;
  height: 744px;
  margin: 0 auto;
  background: url(../image/Background4.jpg) no-repeat center center;
  margin-top: -30px;
}

.block-team__conteiner { 
  max-width: 1920px;
  height: 90%;
  background-image: url(../image/Curve.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  margin-top: -300px;
}

.block-team__title { 
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 3.6px;
  text-align: center;
  color: #f4f5f9;
  padding-top: 120px;
  padding-bottom: 25px;
}

.block-team__sub-title { 
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 2.07;
  text-align: center;
  color: #f4f5f9;
  padding-bottom: 5px;
}

.block-team__conteiner-line{
  display: flex;
  justify-content: center;
  padding: 50px 0 100px 0;
}

.block-team__first { 
  width: 167px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // position: relative;
  // top: 35px;
  // left: -410px;
  margin-top: 280px;
  margin-right: 50px;
  margin-left: 80px;
}

.block-team__img { 
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #e74c3c;
  transition: all 1s ease-out;
}

.block-team__name { 
  display: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.8px;
  text-align: center;
  color: #e74c3c;
  position: relative;
  top: 30px;
  transition: all 1s ease-out;
}

.block-team__name-first {
  display: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.8px;
  text-align: center;
  color: #e74c3c;
  padding-top: 60px;
  transition: all 1s ease-out;
}

.block-team__position {
  display: none; 
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 1.4px;
  text-align: center;
  color: white;
  padding-top: 10px;
  transition: all 1s ease-out;
}

.block-team__second { 
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 255px;
  margin-right: 70px;
  // position: relative;
  // top: -5px;
  // left: -180px;
}

.block-team__three { 
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 260px;
  margin-right: 130px;
  // position: relative;
  // top: 0px;
  // left: 15px;
}

.block-team__four { 
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  margin-left: -10px;
  // position: relative;
  // top: 40px;
  // left: 250px;
}

.block-team__five { 
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 270px;
  margin-left: 100px;
  // position: relative;
  // top: 0px;
  // left: 450px;
}

.block-team__first:hover .hover-img {
  transform: scale(2);
  margin-top: 130px;
}

.block-team__first:hover .hover-name {
  display: flex;
  transform: scale(1.1);
}

.block-team__first:hover .hover-position{
  display: flex;
  transform: scale(1.1);
}

.block-team__second:hover .hover-img {
  transform: scale(2);
  margin-top: 130px;
}

.block-team__second:hover .hover-name {
  display: block;
  transform: scale(1.1);
}

.block-team__second:hover .hover-position{
  display: block;
  transform: scale(1.1);
}

.block-team__three:hover .hover-img {
  transform: scale(2);
  margin-top: 130px;
}

.block-team__three:hover .hover-name {
  display: block;
  transform: scale(1.1);
}

.block-team__three:hover .hover-position{
  display: block;
  transform: scale(1.1);
}

.block-team__four:hover .hover-img {
  transform: scale(2);
  margin-top: 130px;
}

.block-team__four:hover .hover-name {
  display: block;
  transform: scale(1.1);
}

.block-team__four:hover .hover-position{
  display: block;
  transform: scale(1.1);
}

.block-team__five:hover .hover-img {
  transform: scale(2);
  margin-top: 130px;
}

.block-team__five:hover .hover-name {
  display: block;
  transform: scale(1.1);
}

.block-team__five:hover .hover-position{
  display: block;
  transform: scale(1.1);
}

@media screen and (max-width: 1180px) {
  .block-team__first { 
    width: 167px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // position: relative;
    // top: 35px;
    // left: -410px;
    margin-top: 270px;
    margin-right: 50px;
    margin-left: 80px;
  }

  .block-team__second { 
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 255px;
    margin-right: 70px;
    // position: relative;
    // top: -5px;
    // left: -180px;
  }
  
  .block-team__three { 
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 260px;
    margin-right: 130px;
    // position: relative;
    // top: 0px;
    // left: 15px;
  }
  
  .block-team__four { 
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    margin-left: -10px;
    // position: relative;
    // top: 40px;
    // left: 250px;
  }
  
  .block-team__five { 
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 290px;
    margin-left: 100px;
    // position: relative;
    // top: 0px;
    // left: 450px;
  }
}

@media screen and (max-width:715px) {

}

@media screen and (max-width: 490px) {
  .block-team__conteiner { 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding-top: 200px;
  }

  .block-team__first { 
    width: 167px;
    height: 150px;
    // position: relative;
    // top: 35px;
    // left: -410px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .block-team__second { 
    width: 150px;
    height: 150px;
    margin-top: 0px;
    margin-right: 0px;
    // position: relative;
    // top: -5px;
    // left: -180px;
  }
  
  .block-team__three { 
    width: 150px;
    height: 150px;
    margin-top: 0px;
    margin-right: 0px;
    // position: relative;
    // top: 0px;
    // left: 15px;
  }
  
  .block-team__four { 
    width: 150px;
    height: 150px;
    margin-top: 0px;
    margin-left: 0px;
    // position: relative;
    // top: 40px;
    // left: 250px;
  }
  
  .block-team__five { 
    width: 150px;
    height: 150px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    // position: relative;
    // top: 0px;
    // left: 450px;
  }

  .block-team__name-first {
    display: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.8px;
    text-align: center;
    color: #e74c3c;
    padding-top: 0px;
    padding-left: 150px;
  }
  
  .block-team__position {
    display: none; 
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 1.4px;
    text-align: center;
    color: white;
    transition: all 1s ease-out;
    margin-top: -70px;
    padding-right: 150px;
  }
}